body {
  font-family: "gotham_rnd_ssmbook";
  color: #505052;
}
p {
  line-height: 1.6;
}

.section {
  padding: 30px 0 56px;
}
.section-dark {
  background: #505052;
  color: #fff;
}

.header {
  background:#f5f5f5 url('../img/bg-header.png') repeat-x;
  z-index: 99999;
}
.logo {
  display: block;
  height: 30px;
  padding: 25px 0;
}
.links {
  float: right;
  line-height: 80px;
  margin: 0;
}
.links li {
  float: left;
  list-style: none;
  margin-left: 30px;
}
.links a {
  color: #505052;
  font-family: "gotham_rnd_ssmmedium";
  font-size: 14px;
  text-transform: uppercase;
}
.header-trans .links a{
  color: #fff;
}

#advertisers,
.scatter {
  background: url('../img/bg-scatter.png');
}
.brief-big {
  padding: 30px 100px;
}
.brief p {
  padding: 0 60px;
  font-size: 12px;
}
.brief-text {
  font-size: 16px;
  line-height: 1.6;
}

#about {
  background: #ffe327;
  padding: 96px 0 90px;
}

.article {
  background: #333;
  background-size: cover;
  border-radius: 6px;
  position: relative;
  height: 404px;
}
.article-sm {
  height: 268px;
}
.article h3 {
  font-family: "gotham_rnd_ssmbold";
  font-weight: normal;
  font-size: 28px;
  bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  position: absolute;
  margin: 0;
  padding: 0 30px;
  text-transform: uppercase;
  line-height: 1.2;
}
.article-sm h3 {
  font-size: 24px;
}

.hero {
  background:#444;
  color: #fff;
}
.hero-content {
  padding: 190px 0 100px;
}
.hero__homepage {
  background: url('../img/hero-homepage.jpg');
}
.hero__knowledge {
  background: url('../img/hero-knowledge.jpg');
}
.hero__advertisers {
  background: url('../img/hero-advertisers.jpg');
}
.hero__publishers {
  background: url('../img/hero-publishers.jpg');
}

#publishers {
  background:#000  url('../img/bg-publishers.jpg');
  color: #fff;
}
#publishers .container {
  background: url('../img/scatter-logo.png') center no-repeat;
}

#interact {
  background: #000 url('../img/bg-footer.jpg');
  color: #fff;
}

#footer {
  background-color: #414143;
}

/*= headers */
.hd-1 {
  color: #fff;
  font-family: "gotham_rnd_ssmbold";
  text-transform: uppercase;
  font-size: 30px;
  margin: 0;
}
.hd-2 {
  font-family: "gotham_rnd_ssmbold";
  font-size: 28px;
  text-transform: uppercase;
}
.hd-3 {
  font-family: "gotham_rnd_ssmbold";
  text-transform: uppercase;
  font-size: 16px;
}

.summary {
  color: #fff;
  font-size: 20px;
  font-family: "gotham_rnd_ssmmedium";
  margin-top: 0;
}

.feature {
  padding: 56px 0;
}
.section-gray,
.feature-gray {
  background-color: #f5f5f5;
}
.feature-content {
  width: 75%;
}
.feature-alt .feature-content {
  text-align: right;
  float: right;
}


/* helper classes */
.mb {
  margin-bottom: 28px;
}
.mt {
  margin-top: 28px;
}
.tac {
  text-align: center;
}
.breathe {
  margin-top: 60px;
  margin-bottom: 60px;
}

/*= buttons */
.btn {
  color: #fff;
  border: none;
  padding: 8px 10px;
  background: #333;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "gotham_rnd_ssmbold"
}
.btn:hover {
  text-decoration: none;
  color: #fff;
}
.btn-primary {
  background-color: #b342ba;
}
.btn-secondary {
  background-color: #6d26f2;
}
.btn-tertiary,
.btn-tertiary:hover {
  background-color: #ffe327;
  color: #505154;
}
.btn-action {
  background-color: #d2395a;
}
.btn-block {
  width: 100%;
}

.circle {
  color: #fff;
  width: 400px;
  height: 400px;
  padding-top: 50px;
  background: #b342ba;
  border-radius: 50%;
  margin: 0 auto 40px;
}
.circle-secondary {
  background-color: #6d26f2;
}

.scatter-links {
  margin-top: 60px;
  position: relative;
}
.scatter-link {
  position: absolute;
  width: 60px;
  height: 60px;
}
.scatter-link-facebook {
  left: 235px;
  top: 0;
}
.scatter-link-twitter {
  left: 95px;
  top: 80px;
}
.scatter-link-linkedin {
  top: 80px;
  left: 375px;
}
.scatter-link-pinterest {
  left: 95px;
  top: 242px;
}
.scatter-link-googleplus {
  left: 375px;
  top: 242px;
}
.scatter-link-slideshare {
  left: 235px;
  top: 325px;
}

.footer-links {
  padding: 10px 0;
}
.footer-links p,
.footer-links a {
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
}
.footer-links a {
  padding: 0 16px;
}

.skip {
  position: absolute;
  bottom: 30px;
  width: 100%;
}
.testimonial {
  padding: 0 16%;
}
.quote {
  font-size: 28px;
}