<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scatter</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/img/scatter-favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/fonts/stylesheet.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/scatter.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/js/jquery.pin.js"></script>
  <script src="{{ site.baseurl }}/js/scatter.js"></script>
  <script src="http://malsup.github.com/jquery.cycle2.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
  <script src="{{ site.baseurl }}/js/jquery.cycle2.swipe.min.js"></script>
  <script src="{{ site.baseurl }}/js/is.min.js"></script>
</head>
<body>