<div class="row tac">
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/businesstoday.jpg" alt="businesstoday logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/businessworld.jpg" alt="businessworld logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/cosmo.jpg" alt="cosmo logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/desimartini.jpg" alt="desimartini logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/et.jpg" alt="et logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/ibtimes.jpg" alt="ibtimes logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/indianexpress.jpg" alt="indianexpress logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/indiatvnews.jpg" alt="indiatvnews logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/mansworld.jpg" alt="mansworld logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/nativeplanet.jpg" alt="nativeplanet logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/outlooktraveller.jpg" alt="outlooktraveller logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/rollingstone.jpg" alt="rollingstone logo"></div>
</div>