<div class="row tac">
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/1-indianexpress.jpg" alt="1-indianexpress logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/2-boldsky.jpg" alt="2-boldsky logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/3-clickin.jpg" alt="3-clickin logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/4-desimartini.jpg" alt="4-desimartini logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/5-drivespark.jpg" alt="5-drivespark logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/6-financialexpress.jpg" alt="6-financialexpress logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/7-filmibeat.jpg" alt="7-filmibeat logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/8-freepress.jpg" alt="8-freepress logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/9-gizbot.jpg" alt="9-gizbot logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/nativeplanet.jpg" alt="nativeplanet logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/outlooktraveller.jpg" alt="outlooktraveller logo"></div>
  <div class="col-xs-4 col-md-3"><img class="network-logo" src="{{ site.baseurl }}/img/logos/rollingstone.jpg" alt="rollingstone logo"></div>
</div>