<div class="section section-dark">
  <div class="container tac">
    <div class="customers mt mb">
      <a data-cycle-cmd="goto" data-cycle-arg="0" class="customer customer-coca-cola active"></a>
      <a data-cycle-cmd="goto" data-cycle-arg="1" class="customer customer-starbucks"></a>
      <a data-cycle-cmd="goto" data-cycle-arg="2" class="customer customer-nikon"></a>
    </div>
    <div class="testimonials cycle-slideshow mb" data-cycle-timeout="0" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="&gt; .testimonial" data-cycle-pager=".cycle-pager">
      <div class="testimonial">
        <blockquote>
          <p class="quote">Club Mahindra offers Vacation Ownership based products. It is a forerunner in content planning and creation and creates a wide variety of content for the various segments of audiences it caters to.</p>
        </blockquote>
        <p class="hd-3"></p>
      </div>
      <div class="testimonial">
        <blockquote>
          <p class="quote">Arm Digital equips its clients with creative, technology, social, media and brand consulting solutions making them a complete DIGITAL ARM</p>
        </blockquote>
        <p class="hd-3"></p>
      </div>
      <div class="testimonial">
        <blockquote>
          <p class="quote">Gionee as a brand has taken the perception of smartphones to a different level. It is known for various initiatives, risks and innovations brought to the mobility space</p>
        </blockquote>
        <p class="hd-3"></p>
      </div>
    </div>
  </div>
</div>

