<div class="section section-dark">
  <div class="container tac">
    <div class="customers mt mb">
      <a data-cycle-cmd="goto" data-cycle-arg="0" class="customer customer-coca-cola active"></a>
      <a data-cycle-cmd="goto" data-cycle-arg="1" class="customer customer-starbucks"></a>
      <a data-cycle-cmd="goto" data-cycle-arg="2" class="customer customer-nikon"></a>
      <a data-cycle-cmd="goto" data-cycle-arg="3" class="customer customer-dabur"></a>
    </div>
    <div class="testimonials cycle-slideshow mb" data-cycle-timeout="0" data-cycle-prev="#prev" data-cycle-next="#next" data-cycle-slides="> .testimonial" data-cycle-pager=".cycle-pager">
      <div class="testimonial">
        <blockquote>
          <p class="quote">&quot;Scatter completely changed the way we plan our campaigns. Now We’re better, faster, and stronger than ever before&quot;</p>
        </blockquote>
        <p class="hd-3">- Mahendra McDouglas, CMO, Coca Cola India</p>
      </div>
      <div class="testimonial">
        <blockquote>
          <p class="quote">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum praesentium, labore dolorum quisquam ea, .&quot;</p>
        </blockquote>
        <p class="hd-3">- Mahendra McDouglas, CMO, Starbucks</p>
      </div>
      <div class="testimonial">
        <blockquote>
          <p class="quote">&quot;porro iste quis minus provident earum facilis enim. Provident totam, quibusdam esse quos illo mollitia sequi&quot;</p>
        </blockquote>
        <p class="hd-3">- Mahendra McDouglas, CMO, Nikon</p>
      </div>
      <div class="testimonial">
        <blockquote>
          <p class="quote">&quot;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum praesentium, labore dolorum quisquam ea, &quot;</p>
        </blockquote>
        <p class="hd-3">- Mahendra McDouglas, CMO, Dabur</p>
      </div>
    </div>
  </div>
</div>